# Ignore all files and directories (not recursively)
/*

# Allow directories (they must have a .gitignore file inside)
!/.config/
!/.fonts/
!/.githooks/
!/.ssh/
!/bin/

# Allow files
!/.bashrc-overlay
!/.gitignore
!/README.md
!/setup.sh
!/wallpaper.jpg
