# Ignore all files and directories (not recursively)
/*

# Allow this gitignore
!/.gitignore

# Allow directories (they must have a .gitignore file inside)
!/.config/
!/.fonts/
!/.githooks/
!/.local/
!/.ssh/
!/bin/
!/docs/

# Allow submodules
!/.icons
!/.themes

# Allow files
!/.bashrc-overlay
!/.inputrc
!/README.md
!/setup.sh
!/wallpaper.jpg
