#!/bin/sh
# Both my displays doesn't correctly report its EDID
# so I need to set the right resolution manually at boot
xrandr --newmode "1440x900_60.00"  106.50  1440 1528 1672 1904  900 903 909 934 -hsync +vsync
xrandr --addmode VGA-2-0 1440x900_60.00
xrandr --addmode HDMI-A-1 1440x900_60.00
