# Ignore all files and directories (not recursively)
/*

# Allow directories (they must have a .gitignore file inside)
!/client.conf.d/
!/pipewire-pulse.conf.d/
!/pipewire.conf.d/

# Allow files
!/.gitignore
